body{
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}
a:not(.code) {
	display: inline-block;
	padding: 5px 10px;
	background-color: #eee;
	text-decoration: none;
	font-size: x-large;
}
p {
	font-size: 18px;
}
#article {
	padding: 20px 0 60px;
	margin: 0 0 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}